{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "pediagents.fullname" . }}-servicemonitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: {{ include "pediagents.fullname" . }}-orchestrator
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s
{{- end }}
